<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject-->
    <!--inject:js-->
    <script src="/js/default.js"></script>
    <!--endinject-->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<!-- ################################################ Body ######################################################### -->

<body>

    <header>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <%= title %>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <% for(var i=0; i<nav.length;i++){%>
                            <li>
                                <a href="<%=nav[i].Link%>">
                                    <%= nav[i].Text %>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </header>

    <div class="clearfix" style="margin-bottom: 50px;"></div>

    <!-- ################################################ Landing ######################################################### -->

    <section class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h1>Library App</h1>
                <br/>
                <br/>
                <p class="lead">This is the index.ejs of the library app.</p>
            </div>
            <div class="col-xs-6 col-xs-offset-3">
                <p class="text-justify">This is a library app to keep track of your reading progress. It was developed as part of a training program to proof some general concepts and is not supposed to be fully "fleshed out". You will need node.js and mongoDB to run this web app. first start a local instance of the database on default port 27017. Then do a npm start on the app directory to start the app on port 3000. After the login (see below) head over to <a href="http://localhost:3000/Admin/addBooks">/Admin/addBooks</a> to create a book collection in mongoDB and populate it with some books. The app will use mongoDB to display information about those books, as well as the Goodreads API for a detailed view on each book.</p>
                <p class="text-justify"><strong>First sign up a user name/password</strong> to create a user collection in mongoDB - use the back-button of your browser to come back and sign in with your new user. Passport.js is used to authorize your user to access <a href="http://localhost:3000/Books">/Books</a> and <a href="http://localhost:3000/Authors">/Authors</a>.</p>
            </div>

            <div class="clearfix"></div>

            <!-- ################################################ Login ######################################################### -->

            <div class="col-xs-4 col-xs-offset-1" style="margin-top: 30px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-2 col-xs-12 text-center">
                            <form name="signInForm" action="/auth/signIn" method="post">
                                User Name:
                                <input name="userName" id="userName">
                                <br/>
                                <br/>
                                Password:
                                <input name="password" id="password">
                                <br/>
                                <br/>
                                <input type="submit" value="Sign In">
                            </form>
                        </div>

                        <div class="clearfix visible-xs" style="margin-bottom: 20px;"></div>

                        <div class="col-sm-offset-1 col-sm-2 col-xs-12 text-center">
                            <form name="signUpForm" action="/auth/signUp" method="post">
                                User Name:
                                <input name="userName" id="userName">
                                <br/>
                                <br/>
                                Password:
                                <input name="password" id="password">
                                <br/>
                                <br/>
                                <input type="submit" value="Sign Up">
                            </form>
                        </div>
                    </div> <!-- /row -->
                </div> <!-- /container -->
            </div> <!-- /v-center -->

            <!-- ################################################ /Login ######################################################### -->

        </div>
        <!-- /row -->
    </section>
    <!-- /container full -->

    <div class="clearfix" style="margin-bottom: 20px;"></div>

    <!-- ################################################ Footer ######################################################### -->

    <footer class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container"></div>
        </nav>
    </footer>

</body>

</html>
